html {
  /*color-scheme: dark;*/
}

body {
  background-color: #ffffff;
  min-width: 380px;
}

html,
body {
  overflow-x: hidden;
}

.navbar {
    background-color: rgba(255, 255, 255, .7);
    backdrop-filter: blur(9px);
    border: 0;
}

.navbar,
.modal-open {
  padding-right: 0px !important;
  min-width: 380px;
}

.navbar-brand {
  width: 55px;
  height: 60px;
  margin-right: 4px;
}

.navbar-toggler {
  margin-right: 40px;
}

.nav-item {
  padding-left: 10px;
  padding-right: 10px;
}

.nav-pills {
  justify-content: center;
}

.container-fluid-nav {
  justify-content: none;
}

.navbar-collapse {
  justify-content: center;
}

.dropdown-menu-lab[data-bs-popper] {
  left: -17%;
}

@media (max-width: 1200px) {
  .dropdown-menu-lab[data-bs-popper] {
    left: -13%;
  }
}

.bg-body-tertiary {
  --bs-bg-opacity: 1;
}

.first-row {
  padding-top: 76px;
}

.carousel-item {
  transition: transform 0.5s ease-in-out;
}

.overlay {
  color: #fff;
  position: absolute;
  z-index: 12;
  top: 30%;
  left: 0;
  width: 100%;
  text-align: center;
}

.row-title {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    padding-top: 7rem;
    padding-bottom: 2.5rem;
}

.outfit-font{
    font-family: 'Outfit', sans-serif;
}

.lab-bg{
    background-image: url(img/lab3-bg-1050x525-op-05.jpg);
    max-width: 100%;
    height: auto;
}

#title-home {
/*background-color: rgba(13, 110, 253, 0.7); */
  color: #feae31;
  font-size: calc(0.7rem + 3.5vw);
  font-family: 'Outfit', sans-serif;
  font-weight: 700;
  justify-content: center;
  padding-right: 20px;
  padding-left: 20px;
}

#text-home {
    /*background-color: rgba(13, 110, 253, 0.7); */
    color: #002d53;
      font-size: calc(1.5rem + 1vw);
      font-family: 'Outfit', sans-serif;
      font-weight: 700;
      justify-content: center;
      padding-right: 20px;
      padding-left: 20px;
    }

#join-us-button {
  --bs-btn-padding-y: 0.6rem;
  --bs-btn-padding-x: 1rem;
  --bs-btn-font-size: 1.25rem;
}

@media (max-width: 750px) {
  #join-us-button {
    --bs-btn-padding-y: 0.3rem;
    --bs-btn-padding-x: 0.5rem;
    --bs-btn-font-size: 1rem;
  }
}

@media (max-width: 600px) {
  #join-us-button {
    --bs-btn-font-size: 0.75rem;
  }
}

@media (max-width: 768px) {
    .row-title {
        padding-top: 58px;
    }

    #title-home {
          font-size: calc(0rem + 9vw);
    }

    #text-slide, #dynamic-text-slide{
        font-size: calc(0rem + 4vw);
    }

    #img-slide{
        max-width: 90%;
    }
}

#img-row {
  width: 455px;
  height: 400px;
}

.col-md-auto-p0 {
  flex: 0 0 auto;
  width: auto;
  padding-right: calc(var(--bs-gutter-x) * 0);
  padding-left: calc(var(--bs-gutter-x) * 0);
}

.welcome-text {
  margin-bottom: 0;
}

@media (max-width: 767.5px) {
  .img-welcome {
    max-width: 356px;
    max-height: 215px;
    margin-bottom: 30px;
  }
  .welcome-text {
    margin-bottom: 30px;
  }
}

@media (max-width: 992px) {
  .img-welcome {
    margin-top: 0px;
  }
}

.title-paragraf-long {
    color: #feae31;
    font-family: 'Outfit', sans-serif;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 70px;
  }
  
  .title-paragraf {
    color: #feae31;
    font-family: 'Outfit', sans-serif;
    font-size: 60px;
    font-weight: 700;
  }

@media (max-width: 768px) {
  .mt-50-768 {
    margin-top: 50px;
  }
}

@media (max-width: 514px) {
  .title-paragraf-long {
    font-size: 45px;
    margin-bottom: 30px;
  }
}

@media (max-width: 480px) {
  .title-paragraf {
    font-size: 45px;
  }
}

.w-team{
    max-width: 130px;
}

.w-former-member {
    max-width: 130px;
}

.h-70 {
  height: 70px;
}

.h-30 {
  height: 30px;
}

/* text team that bouncing */
.right-0 {
    right: 0;
}

.left-0 {
    left: 0;
}

.mr-2 {
    margin-right: 0.5rem;
}

.inline-block {
    display: inline-block;
}

.transition-colors {
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}

#text-info{
    font-size: 1.8vh;
}

.hover\:bg-hover:hover {
    background-color: var(--hover);
}

:focus-visible {
    outline: -webkit-focus-ring-color auto 1px;
}

.flex {
    display: flex;
}

@-webkit-keyframes bounce {
    0% {
        transform: scale(1,1) translate(0px, 0px);
    }
    
    50%{
        transform: scale(1,1) translate(0px, -5px); 
    }
    
    100% {
        transform: scale(1,1) translate(0px, 0px);
    }
}
.bounce{
    -webkit-animation: bounce 2s infinite;
}

.justify {
  text-align: justify;
}

.title-text-contact {
  color: #b02c00;
}

.text-contact {
  text-align: center;
  font-size: 15px;
}

.name {
  padding-top: 15px;
  font-family: "Amiko", Sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #002d53;
}

/* Zoom In #1 */
.hover-effect img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.hover-effect img:hover {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.nav-link:hover {
  color: #fff;
  background-color: #0d6efd;
}

.img-border-radius img{
    border-radius: 6vh;
}

.modal-title {
  color: #002d53;
}

.text-modal {
  text-align: justify;
}

@media (max-width: 991.9px) {
  .text-modal {
    padding-top: 20px;
  }
}

.pt-70 {
  padding-top: 70px;
}

.logo-padding {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

/* loop sponsor */
#sponsor-container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes slide{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.logos{
    margin: 50px 0 60px 0;
    white-space: nowrap;
    position: relative;
}

.logos:before,
.logos:after{
    position: absolute;
    top: 0;
    width: 200px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos:before{
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
    /* backdrop-filter: blur(9px);*/
}

.logos:after{
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide{
    animation-play-state: paused;
}

.logos-slide{
    display: inline-block;
    animation: 20s slide infinite linear;
}

.logos-slide img{
    height: 115px;
    margin: 0 40px;
}

@media (max-width: 1200px){
    .logos-slide img{
        height: 100px;
    }
}

@media (max-width: 992px){
    .logos-slide img{
        height: 100px;
    }
    .logos:before,
    .logos:after{
        width: 150px;
    }
}

@media (max-width: 768px){
    .logos-slide img{
        height: 80px;
    }
    .logos:before,
    .logos:after{
        width: 125px;
    }
}

@media (max-width: 576px){
    .logos:before,
    .logos:after{
        width: 70px;
    }
}

.tab-content>.active {
    display: block;
    margin-top: 15px;
}

.map{
    width: 800px; 
    height: 325px; 
    border: 0; 
}

#end-page {
  background-color: #b02c00;
}

#count {
  color: #b02c00;
}

.first-row-link {
  padding-top: 125px;
}
