/* CSS STRUTTURA NEWS (presa da internet: https://www.bootdey.com/snippets/view/bs4-my-experience-timeline#html)
.main-timeline {
    position: relative
}

.main-timeline:before {
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    background: #c6c6c6;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0
}

.main-timeline .timeline {
    position: relative
}

 text height Small: <70px Medium: 70px< <100px Big: >100px 
.main-timeline .big{
    height: 250px;
}
.main-timeline .big .date-content {
    margin-top: 62px;
}

.main-timeline .medium{
    height: 200px;
}
.main-timeline .medium .date-content {
    margin-top: 37px;
}

.main-timeline .small{
    height: 195px;
}
.main-timeline .small .date-content {
    margin-top: 11px;
}

.main-timeline .timeline:after {
    content: "";
    display: block;
    clear: both
}

.main-timeline .icon {
    width: 18px;
    height: 18px;
    line-height: 18px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.main-timeline .icon:before,
.main-timeline .icon:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.33s ease-out 0s
}

.main-timeline .icon:before {
    background: #fff;
    border: 2px solid #232323;
    left: -3px
}

.main-timeline .icon:after {
    border: 2px solid #c6c6c6;
    left: 3px
}

.main-timeline .timeline:hover .icon:before {
    left: 3px
}

.main-timeline .timeline:hover .icon:after {
    left: -3px
}

.main-timeline .date-content {
    width: 50%;
    float: left;
    margin-top: 62px;
    position: relative
}

.main-timeline .date-content:before {
    content: "";
    width: 36.5%;
    height: 2px;
    background: #c6c6c6;
    margin: auto 0;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0
}

.main-timeline .date-outer {
    width: 125px;
    height: 125px;
    font-size: 16px;
    text-align: center;
    margin: auto;
    z-index: 1
}

.main-timeline .date-outer:before,
.main-timeline .date-outer:after {
    content: "";
    width: 125px;
    height: 125px;
    margin: 0 auto;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.33s ease-out 0s
}

.main-timeline .date-outer:before {
    background: #fff;
    border: 2px solid #232323;
    left: -6px
}

.main-timeline .date-outer:after {
    border: 2px solid #c6c6c6;
    left: 6px
}

.main-timeline .timeline:hover .date-outer:before {
    left: 6px
}

.main-timeline .timeline:hover .date-outer:after {
    left: -6px
}

.main-timeline .date {
    width: 100%;
    margin: auto;
    position: absolute;
    top: 27%;
    left: 0
}

.main-timeline .month {
    font-size: 18px;
    font-weight: 700
}

.main-timeline .year {
    display: block;
    font-size: 30px;
    font-weight: 700;
    color: #232323;
    line-height: 36px
}

.main-timeline .timeline-content {
    width: 50%;
    padding: 20px 0 20px 50px;
    float: right
}

.main-timeline .title {
    font-size: 19px;
    font-weight: 700;
    line-height: 24px;
    margin: 0 0 15px 0;
}

.main-timeline .description {
    margin-bottom: 0
}

.main-timeline .timeline:nth-child(2n) .date-content {
    float: right
}

.main-timeline .timeline:nth-child(2n) .date-content:before {
    left: 10px
}

.main-timeline .timeline:nth-child(2n) .timeline-content {
    padding: 20px 50px 20px 0;
    text-align: right
}

@media only screen and (max-width: 991px) {
    .main-timeline .date-content {
        margin-top: 35px
    }
    .main-timeline .date-content:before {
        width: 22.5%
    }
    .main-timeline .timeline-content {
        padding: 10px 0 10px 30px
    }
    .main-timeline .title {
        font-size: 17px
    }
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        padding: 10px 30px 10px 0
    }
}

@media only screen and (max-width: 767px) {
    .main-timeline:before {
        margin: 0;
        left: 7px
    }
    .main-timeline .timeline {
        margin-bottom: 20px
    }
    .main-timeline .timeline:last-child {
        margin-bottom: 0
    }
    .main-timeline .icon {
        margin: auto 0
    }
    .main-timeline .date-content {
        width: 95%;
        float: right;
        margin-top: 0
    }
    .main-timeline .date-content:before {
        display: none
    }
    .main-timeline .date-outer {
        width: 110px;
        height: 110px
    }
    .main-timeline .date-outer:before,
    .main-timeline .date-outer:after {
        width: 110px;
        height: 110px
    }
    .main-timeline .date {
        top: 30%
    }
    .main-timeline .year {
        font-size: 24px
    }
    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        width: 95%;
        text-align: center;
        padding: 10px 0
    }
    .main-timeline .title {
        margin-bottom: 10px
    }
} */


/* CSS STRUTTURA NEWS (presa da internet: https://bestjquery.com/tutorial/timeline/demo134) 
.main-timeline{ font-family: 'Libre Franklin', sans-serif; }
.main-timeline:after{
    content: '';
    display: block;
    clear: both;
}
.main-timeline .timeline{
    width: calc(50% + 60px);
    padding: 20px 0 0 60px;
    margin: 0 5px 15px 0;
    float: right;
}
.main-timeline .timeline-content{
    color: #fff;
    background: #f94419;
    text-align: center;
    min-height: 98px;
    padding: 20px 30px 5px 90px;
    display: block;
    position: relative;
}

.main-timeline .timeline-text{
    padding: 10px 35px 20px 60px;
    background: rgb(249 68 25);
}
.main-timeline .timeline-content:hover{ text-decoration: none; }
.main-timeline .timeline-content:before{
    content: "";
    background: linear-gradient(to top left, transparent 50%, #952000 52%);
    width: 60px;
    height: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.main-timeline .timeline-date{
    background: #ff6134;
    padding-top: 15px;
    font-size: 23px;
    font-weight: 600;
    line-height: 35px;
    width: 130px;
    height: 100%;
    min-height: 98px;
    position: absolute;
    top: -20px;
    left: -60px;
}
.main-timeline .timeline-year{
    padding-top: 45px;
    font-size: 35px;
    font-weight: 600;
    width: 130px;
    position: absolute;
    top: -20px;
    left: -60px;
}
.main-timeline .title{
    font-size: 19px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 7px 0;
}
.main-timeline .description{
    font-size: 13px;
    letter-spacing: 1px;
    margin: 0;
}
.main-timeline .timeline:nth-child(even){
    padding: 20px 60px 0 0;
    float: left;
}
.main-timeline .timeline:nth-child(even) .timeline-content{ padding: 20px 93px 5px 30px; }
.main-timeline .timeline:nth-child(even) .timeline-content:before{
    transform: rotateY(180deg);
    left: auto;
    right: 0;
}
.main-timeline .timeline:nth-child(even) .timeline-date{
    background: #3473FF;
    right: -60px;
    left: auto;
}
.main-timeline .timeline:nth-child(even) .timeline-year{
    right: -60px;
    left: auto;
}
.main-timeline .timeline:nth-child(even) .timeline-icon{
    left: auto;
    right: 80px;
}
.main-timeline .timeline:nth-child(2n+2) .timeline-content{ background: #1862F7; }
.main-timeline .timeline:nth-child(2n+2) .timeline-text{ background: #1862F7; padding: 10px 60px 20px 35px;}
.main-timeline .timeline:nth-child(2n+2) .timeline-content:before{
    background: linear-gradient(to top left, transparent 50%, #012E95 52%);
}
.main-timeline .timeline:nth-child(2n+2) .timeline-date, 
.main-timeline .timeline:nth-child(2n+2) .timeline-year{ }

@media screen and (max-width:990px){
    .main-timeline .timeline{ width: calc(50% + 120px); }
}
@media screen and (max-width:767px){
    .main-timeline .timeline{ width: 100%; }
}
@media screen and (max-width:576px){
    .main-timeline .timeline,
    .main-timeline .timeline:nth-child(even){
        text-align: center;
        padding: 42px 20px 0 0;
        margin: 0 0 30px;
    }
    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(even) .timeline-content{
        padding: 80px 20px 20px;
    }
    .main-timeline .timeline-content:before,
    .main-timeline .timeline:nth-child(even) .timeline-content:before{
        width: 60px;
        transform: rotate(90deg);
        bottom: auto;
        top: 20px;
        left: -20px;
    }
    .main-timeline .timeline-date,
    .main-timeline .timeline:nth-child(even) .timeline-date{
        padding-top: 0;
        line-height: 50px;
        width: 100%;
        height: 85px;
        min-height: 85px;
        left: auto;
        right: -20px;
        top: -27px;
    }
    .main-timeline .timeline-year,
    .main-timeline .timeline:nth-child(even) .timeline-year{
        line-height: 100px;
        width: 100%;
        height: 100px;
        left: auto;
        right: -20px;
        top: -65px;
    }
    .main-timeline .title{ font-size: 20px; }
}*/


/* CSS STRUTTURA NEWS (presa da internet: https://bestjquery.com/tutorial/timeline/demo119) 
.main-timeline{ font-family: 'Poppins', sans-serif; }
.main-timeline:after{
    content: '';
    display: block;
    clear: both;
}
.main-timeline .timeline{
    width: 50%;
    padding: 20px 0 0;
    margin: 0 0 25px 5px;
    float: right;
}
.main-timeline .timeline-content{
    color: #fff;
    background: #fff;
    text-align: center;
    padding: 0 30px 40px 75px;
    border-radius: 7px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    display: block;
    position: relative;
    z-index: 1;
}
.main-timeline .timeline-content:hover{ text-decoration: none; }
.main-timeline .timeline-content:before,
.main-timeline .timeline-content:after{
    content: '';
    background: linear-gradient(#F37024, #FAA41D);
    height: 100%;
    border-radius: 0 15px 15px 15px;
    position: absolute;
    left: 55px;
    right: 20px;
    top: -20px;
    z-index: -1;
}
.main-timeline .timeline-content:before{
    background: linear-gradient(to right bottom, transparent 50%, #c94504 52%);
    height: 20px;
    width: 15px;
    border-radius: 0;
    left: 40px;
    top: -20px;
    right: auto;
}
.main-timeline .timeline-icon{ font-size: 50px; }
.main-timeline .title{
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin: 0 0 10px;
}
.main-timeline .description{
    font-size: 13px;
    letter-spacing: 1px;
    margin: 0;
}
.main-timeline .timeline-year{
    color: #c94504;
    font-size: 35px;
    font-weight: 700;
    transform: translateY(-50%) rotate(90deg);
    position: absolute;
    left: -14px;
    top: 48%;
}
.main-timeline .timeline:nth-child(even){
    margin: 0 5px 25px 0;
    float: left;
}
.main-timeline .timeline:nth-child(even) .timeline-content{ padding: 0 75px 40px 30px; }
.main-timeline .timeline:nth-child(even) .timeline-content:before{
    transform: rotateY(180deg);
    left: auto;
    right: 40px;
}
.main-timeline .timeline:nth-child(even) .timeline-content:after{
    border-radius: 15px 0 15px 15px;
    left: 20px;
    right: 55px;
}
.main-timeline .timeline:nth-child(even) .timeline-year{
    left: auto;
    right: -11px;
}
.main-timeline .timeline:nth-child(4n+2) .timeline-content:after{
    background: linear-gradient(#990a6b, #D24F9A);
}
.main-timeline .timeline:nth-child(4n+2) .timeline-content::before{
    background: linear-gradient(to right bottom, transparent 50%, #8A1E65 52%);
}
.main-timeline .timeline:nth-child(4n+2) .timeline-year{ color: #8A1E65; }
@media screen and (max-width:767px){
    .main-timeline .timeline,
    .main-timeline .timeline:nth-child(even){
        width: 100%;
        margin: 0 0 35px 0;
    }
}*/


/* CSS STRUTTURA NEWS (presa da internet: https://bestjquery.com/tutorial/timeline/demo116/) 
.main-timeline{ font-family: 'Josefin Sans', sans-serif; }
.main-timeline:after{
    content: '';
    display: block;
    clear: both;
}
.main-timeline .timeline{
    width: 50%;
    margin: 0 5px 0 0;
    float: left;
}
.main-timeline .timeline-content{
    color: #333;
    padding: 30px 80px 30px 100px;
    border-radius: 30px;
    display: block;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.main-timeline .timeline-content:hover{ text-decoration: none; }
.main-timeline .timeline-content:before,
.main-timeline .timeline-content:after{
    content: '';
    background-color: #6E13AE;
    border-radius: 30px;
    position: absolute;
    top: 10px;
    bottom: 0;
    left: 70px;
    right: 0;
    z-index: -1;
}
.main-timeline .timeline-content:after{
    background-color: rgba(255,255,255,0.8);
    right: 55px;
    left: 0;
    top: 0;
    bottom: 10px;
}
.main-timeline .timeline-year{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
    transform: translateY(-50%) rotate(-90deg);
    position: absolute;
    top: calc(50% + 5px);
    right: -10px;
    z-index: 1;
}
.main-timeline .timeline-icon{
    font-size: 30px;
    font-weight: 600;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 20px;
    z-index: 1;
}
.main-timeline .title{
    color: #6E13AE;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 3px;
}
.main-timeline .description{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    margin: 0;
}
.main-timeline .timeline:nth-child(even){
    float: right;
    margin: 0 0 0 5px;
}
.main-timeline .timeline:nth-child(even) .timeline-content{ padding: 30px 100px 30px 80px; }
.main-timeline .timeline:nth-child(even) .timeline-content:before{
    left: 0;
    right: 70px;
}
.main-timeline .timeline:nth-child(even) .timeline-content:after{
    right: 0;
    left: 55px;
}
.main-timeline .timeline:nth-child(even) .timeline-year{
    right: auto;
    left: 0;
}
.main-timeline .timeline:nth-child(even) .timeline-icon{
    right: 20px;
    left: auto;
}
.main-timeline .timeline:nth-child(4n+2) .timeline-content:before{ background-color: #FD5902; }
.main-timeline .timeline:nth-child(4n+2) .title{ color: #FD5902; }
.main-timeline .timeline:nth-child(4n+3) .timeline-content:before{ background-color: #4C63FF; }
.main-timeline .timeline:nth-child(4n+3) .title{ color: #4C63FF; }
.main-timeline .timeline:nth-child(4n+4) .timeline-content:before{ background-color: #F71D51; }
.main-timeline .timeline:nth-child(4n+4) .title{ color: #F71D51; }
@media screen and (max-width:767px){
    .main-timeline .timeline,
    .main-timeline .timeline:nth-child(even){
        width: 100%;
        margin: 0 0 20px 0;
    }
}
@media screen and (max-width:479px){
    .main-timeline .timeline .timeline-content,
    .main-timeline .timeline:nth-child(even) .timeline-content{
        padding: 70px 40px;
    }
    .main-timeline .timeline .timeline-content:before,
    .main-timeline .timeline:nth-child(even) .timeline-content:after{
        top: 50px;
        bottom: 0;
        left: 10px;
    }
    .main-timeline .timeline .timeline-content:after,
    .main-timeline .timeline:nth-child(even) .timeline-content:before{
        bottom: 50px;
        top: 0;
        right: 10px;
    }
    .main-timeline .timeline .timeline-year{
        transform: translateY(0) rotate(0);
        top: auto;
        bottom: 7px;
        right: 20px;
    }
    .main-timeline .timeline:nth-child(even) .timeline-year{
        top: 12px;
        left: 20px;
    }
    .main-timeline .timeline .timeline-icon{
        transform: translateY(0);
        top: 7px;
        left: 30px;
    }
    .main-timeline .timeline:nth-child(even) .timeline-icon{
        top: auto;
        bottom: 1px;
        right: 30px;
    }
}*/


/* CSS STRUTTURA NEWS (presa da internet: https://bestjquery.com/tutorial/timeline/demo66/) 
.main-timeline{
    font-family: 'Titillium Web', sans-serif;
    padding: 50px 0 0;
    position: relative;
}
 .main-timeline:before{
    content: '';
    background-color: #fff;
    height: 100%;
    width: 60%;
    box-shadow: 0 0 10px #333;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: 10px;
}
.main-timeline .timeline{
    margin: -42px 0 0 0;
    position: relative;
    z-index: 1;
}
.main-timeline .timeline:before{
    content: '';
    border: 20px solid #FF9B00;
    height: 90%;
    width: 50%;
    border-radius: 100px;
    position: absolute;
    left: 12%;
    top: 22px;
    z-index: -1;
}
.main-timeline .timeline-content{
    background-color: #fff;
    text-align: center;
    width: 60%;
    padding: 10px 15px 60px;
    margin: 0 auto;
    display: block;
}
.main-timeline .timeline-content:hover{ text-decoration: none; }
.main-timeline .timeline-date{
    color: #FF9B00;
    font-size: 13px;
    font-weight: 600;
    margin: 0 0 -9px;
}
.main-timeline .timeline-year{
    color: #FF9B00;
    font-size: 30px;
    font-weight: 600;
    margin: 0 0 10px;
}
.main-timeline .title{
    color: #333;
    font-size: 23px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
}
.main-timeline .title:after{
    content: '';
    background-color: #FF9B00;
    height: 3px;
    width: 60px;
    margin: 12px auto;
    display: block;
}
.main-timeline .description{
    color: #333;
    font-size: 14px;
    letter-spacing: 1px;
}
.main-timeline .timeline:nth-child(even):before{
    left: auto;
    right: 12%;
}
-----
.main-timeline .timeline:nth-child(3n+2):before{ border-color: #FF503B; }
.main-timeline .timeline:nth-child(3n+2) .timeline-year{ color: #FF503B; }
.main-timeline .timeline:nth-child(3n+2) .title:after{ background-color: #FF503B; }
-----
.main-timeline .timeline:nth-child(2n+2):before{ border-color: #009CE6; }
.main-timeline .timeline:nth-child(2n+2) .timeline-date{ color: #009CE6; }
.main-timeline .timeline:nth-child(2n+2) .timeline-year{ color: #009CE6; }
.main-timeline .timeline:nth-child(2n+2) .title:after{ background-color: #009CE6; }
----
.main-timeline .timeline:nth-child(4n+4):before{ border-color: #B160BD; }
.main-timeline .timeline:nth-child(4n+4) .timeline-year{ color: #B160BD; }
.main-timeline .timeline:nth-child(4n+4) .title:after{ background-color: #B160BD; }
----
@media only screen and (max-width:990px){
    .main-timeline .timeline:before{
        left: 5%;
        border-radius: 120px;
    }
    .main-timeline .timeline:nth-child(even):before{ right: 5%; }
}
@media only screen and (max-width:576px){
    .main-timeline:before{ width: 85%; }
    .main-timeline .timeline{ margin: -38px 0 0 0; }
    .main-timeline .timeline:before{
        border-width: 8px;
        border-radius: 0;
        left: 0;
    }
    .main-timeline .timeline:nth-child(even):before{ right: 0; }
    .main-timeline .timeline-content{ width: 85%; }
    .main-timeline .title{ font-size: 18px; }
}*/


/* CSS STRUTTURA LINK (presa da internet: https://bestjquery.com/tutorial/timeline/demo44/) SINGOLA LNEA */
.main-timeline{
  font-family: 'Roboto', sans-serif;
  padding: 20px 0;
  position: relative;
}
.main-timeline:before,
.main-timeline:after{
  content: '';
  height: 40px;
  width: 40px;
  background-color: #e7e7e7;
  border-radius: 50%;
  border: 10px solid #303334;
  transform:translateX(-50%);
  position: absolute;
  left: 50%;
  top: -15px;
  z-index: 2;
}
.main-timeline:after{
  top: auto;
  bottom: 22px;
}
.main-timeline .timeline{
  padding: 35px 0;
  margin-top: -30px;
  position: relative;
  z-index: 1;
}
.main-timeline .timeline:before{
  content: '';
  height: calc(100% - 15px);
  width: 40%;
  border-radius: 100px 0 0 100px;
  border: 16px solid #46B2BC;
  border-right: none;
  position: absolute;
  left: 127px;
  top: 6px;
  z-index: -1;
}
.main-timeline .timeline-content{ 
  display:inline-block; 
  padding: 10px 30px 0px 30px;
  margin: 16px 310px 0px 310px;
  border-radius: 20px;
}

.first-pub-year{
  margin-top: -1rem!important;
}
.last-pub-year{
  margin-bottom: 1rem!important;
}

.main-timeline .timeline-content:hover{ text-decoration: none; }
.main-timeline .timeline-year{
  color: #65C7D0;
  font-size: 50px;
  font-weight: 600;
  display: inline-block;
  transform:translateY(-50%);
  margin-top: 25px;
  margin-bottom: -13px;
}
.main-timeline .timeline-date{
    color: #65C7D0;
    font-size: 30px;
    font-weight: 600;
    display: inline-block;
    transform:translateY(-50%);
    margin-bottom: 20px;
    margin-top: -13px;
}
.main-timeline .timeline-icon{
  color: #65C7D0;
  font-size: 80px;
  display: inline-block;
  transform: translateY(-50%);
  position: absolute;
  left: 34%;
  top: 50%;
}
.main-timeline .content{
  color: #909090;
  width: 50%;
  padding: 20px;
  display: inline-block;
  /*float: right;*/
}
.main-timeline .title{
  color: #65C7D0;
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 0 5px 0;
}
.main-timeline .description{
  font-size: 15px;
  letter-spacing: 1px;
  margin: 0;
}

.timeline .rivista {
  font-size: 18px;
  font-weight: 500;
  color: RGBA(var(--bs-success-rgb),var(--bs-link-opacity,1))!important;
}
.timeline .rivista {
  font-weight: 500;
  margin-top: 7px;
}

.main-timeline .timeline:nth-child(even) .content{ float: left; }
.main-timeline .timeline:nth-child(even) .timeline-year, .timeline-date{
  left: auto;
  right: 9%;
}
.main-timeline .timeline:nth-child(even) .timeline-icon{
  left: auto;
  right: 32%;
}

.main-timeline .timeline:nth-child(2n+2):before{ 
  content: '';
  height: calc(100% - 13px);
  width: 40%;
  border-radius: 0 100px 100px 0;
  border: 16px solid #0071BD;
  border-left: none;
  position: absolute;
  left: auto;
  right: 128px;
  top: 5px;
}

.main-timeline .timeline:nth-child(2n+2) .timeline-icon{ color: #0071BD; }
.main-timeline .timeline:nth-child(2n+2) .timeline-year{ color: #0071BD; }
.main-timeline .timeline:nth-child(2n+2) .timeline-date{ color: #0071BD; }
.main-timeline .timeline:nth-child(2n+2) .title{ color: #0071BD; }

@media screen and (max-width:1400px){
  .main-timeline .timeline:before{
    height: calc(100% - 15px);
    width: 37%;
    left: 142px;
  }
  .main-timeline .timeline:nth-child(2n+2):before{ 
    width: 39%;
    right: 120px;
  }
}

@media screen and (max-width:1200px){
  .main-timeline .timeline:before{
    height: calc(100% - 15px);
    width: 37%;
    left: 118px;
  }
  .main-timeline .timeline:nth-child(2n+2):before{ 
    width: 36%;
    right: 128px;

  }

  .main-timeline .timeline:nth-child(even):after{ border-radius: 0 88px 88px 0; }

  .main-timeline .timeline-content{
    margin: 16px 250px 0px 250px;
  }
}
@media screen and (max-width:992px){
    .main-timeline .timeline-year{
        margin-bottom: -30px;
    }
  .main-timeline .timeline:before{
    height: calc(100% - 15px);
    left: 25px;
    width: 47%;
  }
  .main-timeline .timeline:nth-child(2n+2):before{ 
    right: 25px;
    width: 46%;
  }
  .first-pub-year{
    margin-top: -1rem!important;
  }
  .last-pub-year{
    margin-bottom: 1rem!important;
  }
  .main-timeline .timeline-content{
    margin: 16px 100px 0px 100px;
  }
  .main-timeline .timeline-year{ 
    font-size: 40px;
    margin-top: 34px;
    top: 4%;
    left: 43%;
    display: block;

  }
}
@media screen and (max-width:767px){

  .main-timeline .timeline-content{ 
    display:inline-block;
    margin: 16px 50px 0px 50px;
  }
  .main-timeline .timeline-year{
    top: 3.5%;
    left: 41%;
    margin-bottom: -30px;
  }

  .main-timeline .timeline{
    margin-top: -19px; 
    padding-top: 10px;
}

  .main-timeline .timeline:before{
    height: calc(100% - 15px);
    width: 48%;
    left: 10px;
    top: -5px;
  }
  .main-timeline .timeline:nth-child(2n+2):before{ 
    height: calc(100% + 9px);
    right: 10px;
    width: 48%;
    top: -17px;
  }

  .main-timeline:after {
    bottom: 24px;
}
  .main-timeline .timeline-icon{ font-size: 60px; }
  
}
@media screen and (max-width:479px){
  .first-row {
    padding-top: 25px;
  }
  .main-timeline .timeline:before {
    height: calc(100% - 18px);
    width: 47%;
    left: 10px;
    top: -5px;
    border: 12px solid #46B2BC;
    border-right: none;
  }
  .main-timeline .timeline:nth-child(2n+2):before {
    height: calc(100% + 4px);
    right: 10px;
    top: -16px;
    width: 48%;
    border: 12px solid #0071BD;
    border-left: none;
  }
  .main-timeline:after {
    bottom: 19px;
  }
  .main-timeline:before {
    top: -17px;
  }

  .main-timeline .timeline-content{ 
    display:inline-block;
    margin: 16px 30px 0px 30px;
    padding: 10px 20px 0px 20px;
  }
  .main-timeline .timeline-icon{
      font-size: 50px;
      transform:translateY(0);
      top: 25%;
      left: 10%;
  }
  .main-timeline .timeline-year{
      font-size: 40px;
      transform:translateY(0);
      margin-top: 0px;
      margin-bottom: 0px;
      top: 2%;
      left: 37%;
  }
  .main-timeline .content{
      width: 68%;
      padding: 10px;
  }
  .main-timeline .title{ font-size: 18px; }
  .main-timeline .timeline:nth-child(even) .timeline-icon{
      right: 10%;
  }
  .main-timeline .timeline:nth-child(even) .timeline-year{
    right: 36%;
    top: 4%;
    margin-bottom: 0px;
  }
}


/* CSS STRUTTURA NEWS (presa da internet: https://bestjquery.com/tutorial/timeline/demo130/) 
.main-timeline{ font-family: 'Libre Franklin', sans-serif; }
.main-timeline:after{
    content: '';
    display: block;
    clear: both;
}
.main-timeline .timeline{
    width: calc(50% + 200px);
    padding: 0 190px 0 0;
    margin: 0 0 50px;
    float: left;
}
.main-timeline .timeline-content{
    color: #fff;
    background: linear-gradient(165deg, #9071e9, #ce4df0);
    padding: 10px;
    border-radius: 10px;
    display: block;
    position: relative;
    z-index: 1;
}
.main-timeline .timeline-content:hover{ text-decoration: none; }
.main-timeline .timeline-content:after{
    content: "";
    background: linear-gradient(to right,#555,#fff);
    width: 60px;
    height: 10px;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 100%;
    z-index: -1;
}
.main-timeline .timeline-year{
    color: #fff;
    background: linear-gradient(to right, #9071e9, #ce4df0);
    font-size: 35px;
    font-weight: 400;
    text-align: center;
    width: 150px;
    padding: 14px 0;
    border-radius: 25px;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: calc(100% + 40px);
}
.main-timeline .timeline-year:before{
    content: "";
    background: linear-gradient(to bottom, #9071e9, #ce4df0);
    border: 5px solid #fff;
    border-radius: inherit;
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    z-index: -1;
}
.main-timeline .title{
    background: linear-gradient(to right, #9071e9, #ce4df0);
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    padding: 10px 10px;
    margin: 0;
    border-radius: 10px 10px 0 0;
}
.main-timeline .description{
    background: linear-gradient(to left, #9071e9, #ce4df0);
    font-size: 14px;
    letter-spacing: 1px;
    padding: 20px;
    margin: 0;
    border-radius: 0 0 10px 10px;
}
.main-timeline .timeline:nth-child(even){
    float: right;
    padding: 0 0 0 190px;
    margin: 0 0 50px;
}
.main-timeline .timeline:nth-child(even) .timeline-content:after{
    transform: translateY(-50%) rotate(180deg);
    left: auto;
    right: 100%;
}
.main-timeline .timeline:nth-child(even) .timeline-year{
    left: auto;
    right: calc(100% + 40px);
}
.main-timeline .timeline:nth-child(4n+2) .timeline-content{
    background: linear-gradient(165deg, #feba4f, #ff6f02);
}
.main-timeline .timeline:nth-child(4n+2) .timeline-year,
.main-timeline .timeline:nth-child(4n+2) .title {
    background: linear-gradient(to right, #feba4f, #ff6f02);
}
.main-timeline .timeline:nth-child(4n+2) .timeline-year:before {
    background: linear-gradient(to bottom, #feba4f, #ff6f02);
}
.main-timeline .timeline:nth-child(4n+2) .description {
    background: linear-gradient(to left, #feba4f, #ff6f02);
}
.main-timeline .timeline:nth-child(4n+3) .timeline-content {
    background: linear-gradient(165deg, #76cbc8, #4972b4);
}
.main-timeline .timeline:nth-child(4n+3) .timeline-year,
.main-timeline .timeline:nth-child(4n+3) .title {
    background: linear-gradient(to right, #76cbc8, #4972b4);
}
.main-timeline .timeline:nth-child(4n+3) .timeline-year:before {
    background: linear-gradient(to bottom, #76cbc8, #4972b4);
}
.main-timeline .timeline:nth-child(4n+3) .description {
    background: linear-gradient(to left, #76cbc8, #4972b4);
}
.main-timeline .timeline:nth-child(4n+4) .timeline-content {
    background: linear-gradient(165deg, #f04c91, #a9369e);
}
.main-timeline .timeline:nth-child(4n+4) .timeline-year,
.main-timeline .timeline:nth-child(4n+4) .title {
    background: linear-gradient(to right, #f04c91, #a9369e);
}
.main-timeline .timeline:nth-child(4n+4) .timeline-year:before {
    background: linear-gradient(to bottom, #f04c91, #a9369e);
}
.main-timeline .timeline:nth-child(4n+4) .description {
    background: linear-gradient(to left, #f04c91, #a9369e);
}
@media screen and (max-width:767px){
    .main-timeline .timeline{ width: 100%; }
}
@media screen and (max-width:576px){
    .main-timeline .timeline,
    .main-timeline .timeline:nth-child(even){
        text-align: center;
        padding: 100px 0 0 0;
        margin: 0 0 30px;
    }
    .main-timeline .timeline-content:after,
    .main-timeline .timeline:nth-child(even) .timeline-content:after{
        background: linear-gradient(to bottom, #fff,#666);
        width: 10px;
        height: 60px;
        transform: translateX(-50%) translateY(0);
        top: auto;
        left: 50%;
        right: 0;
        bottom: 100%;
    }
    .main-timeline .timeline-year,
    .main-timeline .timeline:nth-child(even) .timeline-year{
        padding: 10px 0;
        transform: translateX(-50%) translateY(0);
        top: auto;
        bottom: calc(100% + 30px);
        left: 50%;
    }
    .main-timeline .title{ font-size: 20px; }
}*/


/* CSS STRUTTURA NEWS (presa da internet: https://bestjquery.com/tutorial/timeline/demo127/) 
.main-timeline{ font-family: 'Heebo', sans-serif; }
.main-timeline:after{
    content: '';
    display: block;
    clear: both;
}
.main-timeline .timeline{
    width: 70%;
    padding: 50px 0 0 0;
    margin: 0 5px 5px 0;
    float: left;
}
.main-timeline .timeline-content{
    color: #fff;
    background: #BE050B;
    min-height: 125px;
    padding: 20px 20px 20px 275px;
    border-radius: 40px;
    display: block;
    position: relative;
}
.main-timeline .timeline-content:hover{ text-decoration: none; }
.main-timeline .timeline-content:before{
    content: '';
    background-color: #f91d21;
    height: calc(100% + 50px);
    width: 125px;
    border-radius: 40px 40px 0 0;
    box-shadow: 0 0 10px -2px rgba(0,0,0,0.3);
    position: absolute;
    left: 125px;
    bottom: 0;
}
.main-timeline .timeline-icon{
    color: #fff;
    font-size: 60px;
    transform: translateY(-50%);
    position: absolute;
    left: 158px;
    top: 50%;
}
.main-timeline .timeline-year{
    font-size: 40px;
    font-weight: 600;
    transform: translateY(-50%);
    position: absolute;
    left: 18px;
    top: 50%;
}
.main-timeline .title{
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    margin: 0 0 5px;
}
.main-timeline .description{
    color: rgba(255, 255, 255, 0.85);
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 1px;
    margin: 0;
}
.main-timeline .timeline:nth-child(even){
    margin: 0 0 5px 5px;
    float: right;
}
.main-timeline .timeline:nth-child(even) .timeline-content{
    padding: 20px 275px 20px 20px;
}
.main-timeline .timeline:nth-child(even) .timeline-content:before{
    left: auto;
    right: 125px;
}
.main-timeline .timeline:nth-child(even) .timeline-icon{
    left: auto;
    right: 156px;
}
.main-timeline .timeline:nth-child(even) .timeline-year{
    left: auto;
    right: 18px;
}
.main-timeline .timeline:nth-child(4n+2) .timeline-content{ background-color: #0f2d75; }
.main-timeline .timeline:nth-child(4n+2) .timeline-content:before{ background-color: #0e3fb2; }
@media screen and (max-width:767px){
    .main-timeline .timeline,
    .main-timeline .timeline:nth-child(even){
        width: 100%;
        margin: 0 0 30px;
    }
}
@media screen and (max-width:576px){
    .main-timeline .timeline,
    .main-timeline .timeline:nth-child(even){
        padding: 0 0 40px;
    }
    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(even) .timeline-content{
        text-align: center;
        padding: 65px 20px 55px;
    }
    .main-timeline .timeline-content:before,
    .main-timeline .timeline:nth-child(even) .timeline-content:before{
        width: 80px;
        height: 80px;
        border-radius: 0 0 30px 30px;
        transform: translateX(-50%);
        left: 50%;
        bottom: -40px;
    }
    .main-timeline .timeline-year,
    .main-timeline .timeline:nth-child(even) .timeline-year{
        transform: translateY(0) translateX(-50%);
        left: 50%;
        right: auto;
        top: 8px;
    }
    .main-timeline .timeline-icon,
    .main-timeline .timeline:nth-child(even) .timeline-icon{
        font-size: 45px;
        transform: translateY(0) translateX(-50%);
        left: 50%;
        right: auto;
        top: auto;
        bottom: -35px;
    }
}*/