html {
  /*color-scheme: dark;*/

}

body {
/*  background: rgb(255,208,134);
    background: linear-gradient(250deg, rgba(255,208,134,1) 0%, rgba(255,186,132,1) 53%, rgba(116,169,201,1) 100%); */
  min-width: 380px;
}

.square-bg{
    opacity: 1;
    background-image: linear-gradient(#444cf7 1px, transparent 1px), linear-gradient(to right, #444cf7 1px, #e5e5f7 1px);
    background-size: 20px 20px;
}

/* sfondo home */
.custom-shape-divider-top-1692548450 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: -1;
}

.custom-shape-divider-top-1692548450 svg {
    position: relative;
    display: block;
    width: calc(144% + -20px);
    height: calc(2rem + 42vw);
}

.custom-shape-divider-top-1692548450 .shape-fill {
    fill: #539ac6;
}

/* sfondo home con piu' curve*/


.custom-shape-divider-top-1692554221 .shape-fill {
    fill: #539ac6;
}

/** For mobile devices **
@media (max-width: 767px) {
    .custom-shape-divider-top-1692554221 svg {
        width: calc(128% + 1.3px);
        height: 500px;
    }
}

@media (max-width: 768px){
    .custom-shape-divider-top-1692548450 svg {
        position: relative;
        display: block;
        width: calc(152% + 712px);
        height: calc(36rem + 41vw);
    }
}

@media (max-width: 420px){
    .custom-shape-divider-top-1692548450 svg {
        position: relative;
        display: block;
        width: calc(92% + 712px);
        height: calc(36rem + 24vw);
    }
}

/* sfondo project */
.custom-shape-divider-top-1692563001 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1692563001 {
    position: relative;
    display: block;
    width: calc(101% + 1.3px);
    height: 176px;
}

.custom-shape-divider-top-1692563001 .shape-fill {
    fill: #539AC6;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-top-1692563001 {
        width: calc(100% + 1.3px);
        height: 136px;
    }
}

html,
body {
  overflow-x: hidden;
}

.navbar {
    background-color: rgba(255, 255, 255, .7);
    backdrop-filter: blur(9px);
}

.navbar,
.modal-open {
  padding-right: 0px !important;
  min-width: 380px;
}

.navbar-brand {
  width: 55px;
  height: 60px;
  margin-left: 50px;
  margin-right: 4px;
}

.navbar-toggler {
  margin-right: 40px;
}

.nav-item {
  padding-left: 10px;
  padding-right: 10px;
}

.nav-pills {
  justify-content: center;
}

.container-fluid-nav {
  justify-content: none;
}

.navbar-collapse {
  justify-content: center;
}

.dropdown-menu-lab[data-bs-popper] {
  left: -17%;
}

@media (max-width: 992px) {
  .dropdown-menu-lab[data-bs-popper] {
    left: -13%;
  }
}

.first-row {
  padding-top: 76.57px;
}

.carousel-item {
  transition: transform 0.5s ease-in-out;
}

@media (max-width: 700px) {
  .carousel-inner {
    height: 100%;
  }
}

.overlay {
  color: #fff;
  position: absolute;
  z-index: 12;
  top: 30%;
  left: 0;
  width: 100%;
  text-align: center;
}

.row-title {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    padding-top: 7rem;
    padding-bottom: 2.5rem;
}

.outfit-font{
    font-family: 'Outfit', sans-serif;
}

.lab-bg{
    background-image: url(img/lab3-bg-1050x525-op-05.jpg);
    max-width: 100%;
    height: auto;
}

#title-home {
/*background-color: rgba(13, 110, 253, 0.7); */
  color: #feae31;
  font-size: calc(0.7rem + 4vw);
  font-family: 'Outfit', sans-serif;
  font-weight: 700;
  justify-content: center;
}

#join-us-button {
  --bs-btn-padding-y: 0.6rem;
  --bs-btn-padding-x: 1rem;
  --bs-btn-font-size: calc(0rem + 1.7vw);
}

#text-slide{
    color: #002d53;
    font-family: "Amiko", Sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: calc(0.7rem + 1vw);
}

#dynamic-text-slide {
  color: #feae31;
  font-family: "Amiko", Sans-serif;
  font-weight: bold;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 100%;
  font-size: calc(0.7rem + 1vw);
}

@media (max-width: 768px) {
    .row-title {
        padding-top: 60px;
    }

    #title-home {
          font-size: calc(0rem + 10vw);
    }

    #text-slide, #dynamic-text-slide{
        font-size: calc(0rem + 4vw);
    }

    #img-slide{
        max-width: 90%;
    }
}

#img-row {
  width: 455px;
  height: 400px;
}

.row-dynamic {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

@media (max-width: 992px) {
  .row-dynamic {
    margin-bottom: 0px;
  }
}

.carousel-dynamic {
  position: relative;
  width: 100%;
  overflow: hidden;
  max-width: none;
}

.col-md-auto-p0 {
  flex: 0 0 auto;
  width: auto;
  padding-right: calc(var(--bs-gutter-x) * 0);
  padding-left: calc(var(--bs-gutter-x) * 0);
}

@media (max-width: 992px) {
  .col-md-auto-p0 {
    flex: 0 0 auto;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0);
    padding-left: calc(var(--bs-gutter-x) * 0);
    text-align: center;
  }
}

#img-project {
  margin-top: 40px;
}

@media (max-width: 992px) {
  #img-project {
    margin-top: 0px;
  }
}

.title-paragraf-long {
  color: #feae31;
  font-family: 'Outfit', sans-serif;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 70px;
}

.title-paragraf {
  color: #feae31;
  font-family: 'Outfit', sans-serif;
  font-size: 60px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .mt-50-768 {
    margin-top: 50px;
  }
}

@media (max-width: 514px) {
  .title-paragraf-long {
    font-size: 45px;
    margin-bottom: 30px;
  }
}

@media (max-width: 480px) {
  .title-paragraf {
    font-size: 45px;
  }
}

.w-team{
    max-width: 130px;
}

.w-album{
    max-width: 100%;
}

@media(max-width:768px){
    .w-album{
        max-width: 85%;
    }
}

.h-70 {
  height: 70px;
}

.h-30 {
  height: 30px;
}

.justify {
  text-align: justify;
}

.title-text-contact {
  color: #b02c00;
}

.text-contact {
  text-align: center;
  font-size: 15px;
}

.name {
  padding-top: 15px;
  font-family: "Amiko", Sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #002d53;
}

.grid-bg{
    background-image: url(img/grid-bg-no-bg.png);
}

.border-radius-10{
    border-radius: 3vh;
}

.img-border-radius img{
    border-radius: 4vh;
}

/* Zoom In #1 */
.hover-effect img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.hover-effect img:hover {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.nav-link:hover {
  color: #fff;
  background-color: #0d6efd;
}

.modal-title {
  color: #002d53;
}

.text-modal {
  text-align: justify;
}

@media (max-width: 991.9px) {
  .text-modal {
    padding-top: 20px;
  }
}

.pt-70 {
  padding-top: 70px;
}

.img-link img{
    max-height: 50px;
}

/*  CSS STRUTTURA ALBUM (presa da internet: https://codepen.io/jh3y/pen/xxjxqOL) */

.results {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.result > img {
  max-width: 100%;
  width: 100%;
  min-height: 60%;
  min-width: 60%;
  object-fit: cover;
  transition: all 0.2s ease;
}

.results:is(:hover, :focus-within) img {
  opacity: calc(0.1 + (var(--active-lerp, 0) * 0.9));
  filter: grayscale(calc(1 - var(--active-lerp, 0)));
}

:root {
  --lerp-0: 1;
  --lerp-1: 0.5787037;
  --lerp-2: 0.2962963;
  --lerp-3: 0.125;
  --lerp-4: 0.037037;
  --lerp-5: 0.0046296;
  --lerp-6: 0;
}

.result {
  flex: calc(0.3 + (var(--active-lerp, 0) * 1));
  transition: flex 0.2s ease;
  padding: 0;
}

.result:is(:hover, :focus-within) {
  --active-lerp: var(--lerp-0);
  z-index: 7;
}
.result:has(+ .result:is(:hover, :focus-within)),
.result:is(:hover, :focus-within) + .result {
  --active-lerp: var(--lerp-1);
  z-index: 6;
}
.result:has(+ .result + .result:is(:hover, :focus-within)),
.result:is(:hover, :focus-within) + .result + .result {
  --active-lerp: var(--lerp-2);
  z-index: 5;
}
.result:has(+ .result + .result + .result:is(:hover, :focus-within)),
.result:is(:hover, :focus-within) + .result + .result + .result {
  --active-lerp: var(--lerp-3);
  z-index: 4;
}
.result:has(+ .result + .result + .result + .result:is(:hover, :focus-within)),
.result:is(:hover, :focus-within) + .result + .result + .result + .result {
  --active-lerp: var(--lerp-4);
  z-index: 3;
}
.result:has(
    + .result + .result + .result + .result + .result:is(:hover, :focus-within)
  ),
.result:is(:hover, :focus-within)
  + .result
  + .result
  + .result
  + .result
  + .result {
  --active-lerp: var(--lerp-5);
  z-index: 2;
}
.result:has(
    + .result
      + .result
      + .result
      + .result
      + .result
      + .result:is(:hover, :focus-within)
  ),
.result:is(:hover, :focus-within)
  + .result
  + .result
  + .result
  + .result
  + .result
  + .result {
  --active-lerp: var(--lerp-6);
  z-index: 1;
}

.transition-01 {
    transition: transform 0.1s ease-in-out!important;
}

#end-page {
  background-color: #b02c00;
}

#count {
  color: #b02c00;
}

.first-row-link {
  padding-top: 125px;
}
